# PostgreSQL
# ------------------------------------------------------------------------------
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=my_awesome_project
POSTGRES_USER=debug
POSTGRES_PASSWORD=debug


# General
# ------------------------------------------------------------------------------
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=OkD0bPgTLQ1feQPXRV5koSrQDEMYwoccvlUkoJtfHCAgx4fvZIvwsRH89qqwEFZk
DJANGO_ADMIN_URL=sCdoUW7jkZEnPrB5yCC1yOJS2EtXUXjS/
ALLOWED_HOSTS=*


# General
# ------------------------------------------------------------------------------
USE_DOCKER=yes
IPYTHONDIR=/app/.ipython


# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=False


# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4


# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://redis:6379/0


# Flower
# ------------------------------------------------------------------------------
CELERY_FLOWER_USER=debug
CELERY_FLOWER_PASSWORD=debug
